@import "variables.less";

@headerHeight: 40px;

.container {
   //width: @app_width; 
   margin: 0px auto;
}

.light {
    margin : 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 400px;
    z-index: -100;
    /*border: 1px solid black;*/
    background-image: radial-gradient(50% 50%, ellipse farthest-side, rgba(245, 245, 245, 1.0) 20%, rgba(217, 217, 217, 0) 100%);
}
#l1 {
    margin-left: -400px;
}
#l2 {
    margin-top: -75px;
}
#l3 {
    margin-left: -275px;
    margin-top: 50px;
}

    
div[role="main"] {
    position: relative;
    margin: 0px auto;
    width: 100%;
    margin-top: @headerHeight;
}

nav  {
    position: fixed;
    float: left;
    z-index: 99999;
    top: 0;
    width: 100%;
    height: @headerHeight;

    .home { float: left; }

    .links {float: right; }

    a {
        padding: 25px 20px 0 20px;
        -webkit-transition: color .2s ease-in-out,opacity .2s ease;
        transition: color .2s ease-in-out,opacity .2s ease;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;

        &:hover, &.active {
            color: @color_accent_1;
            font-weight: 400;
        }
    }
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px)  
  and (-webkit-min-device-pixel-ratio: 1) {
     
}